export(rnaseq_sim)
export(batchqc_heatmap)
export(batchqc_pca)
export(batchqc_pca_svd)
export(batchtest)
export(batchQC_analyze)
export(batchQC)
export(combatPlot)
export(batchqc_correlation)
export(batchqc_corscatter)
export(log2CPM)
export(my.plot)
export(batchqc_explained_variation)
export(batchqc_pc_explained_variation)
export(batchQC_num.sv)
export(batchQC_sva)
export(batchQC_fsva_adjusted)
export(batchQC_svregress_adjusted)
export(batchQC_condition_adjusted)
export(batchQC_shapeVariation)
